@charset "UTF-8";

/* подключает шрифты к стилям */

@font-face {
  font-family: "kaushan-script_[allfont";
  font-display: swap;
  src: url("../fonts/kaushan-script_[allfont.woff") format("woff"), url("../fonts/kaushan-script_[allfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BriosoPro Italic";
  font-display: swap;
  src: url("../fonts/BriosoPro Italic.woff") format("woff"), url("../fonts/BriosoPro Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont.woff") format("woff"), url("../fonts/ofont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ofontEE";
  font-display: swap;
  src: url("../fonts/ofontEE.woff") format("woff"), url("../fonts/ofontEE.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

main img {
  width: 500px;
  height: auto;
}